@use "../../assets/styles/variables";

.home {
  width: 95%;
  margin: auto;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  &_header {
    width: 100%;
    margin: 2% 0%;
    padding: 2%;
    background-color: var(--secondary-bg);
    font-size: 1.2rem;
    font-weight: var(--semi-bold);
    display: flex;
    justify-content: space-evenly;
    border-radius: 1rem;
    align-items: center;

    &_title {
      width: 30%;
    }

    &_tag {
      width: 12.5%;
      padding: 0.5% 0%;
      border-radius: 0.5rem;
    }

    &_server {
      width: 12.5%;
    }

    &_date {
      width: 12.5%;
    }

    &_duration {
      width: 10%;
    }

    &_players {
      width: 10%;
    }

    &_details {
      width: 10%;
      margin-left: 2.5%;
      padding: 1% 2%;
    }
  }

  ul {
    width: 100%;
    padding: 0;
    list-style: none;
  }

  &_pagination {
    width: 50%;
  }
}
